# Ignore everything:
*

# Except for these
!ethereum/
!eth_smartcontract/
!bitwasp/
!blockchain/
!media/
!libraries/
!.gitignore
!common.php.sample
!html_footer.php
!html_header.php
!index.php
!verificationimage.php
!README.md
