<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="{{ .keywords }}">
	<title>{{ .title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://www.btcschools.net/media/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.btcschools.net/media/vendor/enlighter/css/enlighterjs.min.css?{{ .nocache }}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="https://www.btcschools.net/media/css/simple-sidebar.css?{{ .nocache }}" rel="stylesheet">
	<!-- Bootstrap core JavaScript -->
	<script src="https://www.btcschools.net/media/vendor/jquery/jquery.min.js"></script>
	
</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Page Content -->
		<div id="page-content-wrapper" >
			